Title: Make Simulated Data For Classification  
Slug: make_simulated_data_for_classification  
Summary: Make a simulated dataset for classification using scikit-learn.  
Date: 2017-01-16 12:00  
Category: Machine Learning  
Tags: Basics  
Authors: Chris Albon

## Preliminaries

In [ ]:
from sklearn.datasets import make_classification
import pandas as pd

## Create Simulated Data

In [17]:
# Create a simulated feature matrix and output vector with 100 samples,
features, output = make_classification(n_samples = 100,
                                       # ten features
                                       n_features = 10,
                                       # five features that actually predict the output's classes
                                       n_informative = 5,
                                       # five features that are random and unrelated to the output's classes
                                       n_redundant = 5,
                                       # three output classes
                                       n_classes = 3,
                                       # with 20% of observations in the first class, 30% in the second class,
                                       # and 50% in the third class. ('None' makes balanced classes)
                                       weights = [.2, .3, .8])

## View Data

In [21]:
# View the first five observations and their 10 features
pd.DataFrame(features).head()

,0,1,2,3,4,5,6,7,8,9
0,-0.228486,-1.509353,-1.656488,-1.064995,-1.232103,0.828763,-0.499834,1.249653,-1.048067,2.272277
1,1.532976,-1.774178,-0.625922,-0.956292,0.599955,0.350339,0.131097,-1.009671,0.430730,2.525882
2,0.079694,-0.675615,-1.779146,0.343806,-0.514813,1.222098,-0.117652,1.004044,-0.882654,1.409063
3,-0.155947,-0.757449,0.023777,-0.178294,-0.447631,-1.151864,1.052650,0.451800,1.079999,-0.515131
4,-3.864945,3.869067,0.198822,1.835691,-0.402517,0.545119,-1.658275,2.664470,-2.158062,-2.994782

In [22]:
# View the first five observation's classes
pd.DataFrame(output).head()

   0
0  2
1  1
2  2
3  1
4  0