In [ ]:
Title: Group Pandas Data By Hour Of The Day  
Slug: group_pandas_data_by_hour_of_the_day  
Summary: Group data by hour of the day using pandas.  
Date: 2016-12-21 12:00  
Category: Python  
Tags: Data Wrangling  
Authors: Chris Albon

## Preliminaries

In [58]:
# Import libraries
import pandas as pd
import numpy as np

## Create Data

In [ ]:
# Create a time series of 2000 elements, one very five minutes starting on 1/1/2000
time = pd.date_range('1/1/2000', periods=2000, freq='5min')

# Create a pandas series with a random values between 0 and 100, using 'time' as the index
series = pd.Series(np.random.randint(100, size=2000), index=time)

## View Data

In [59]:
# View the first few rows of the data
series[0:10]

2000-01-01 00:00:00     0
2000-01-01 00:05:00    54
2000-01-01 00:10:00    14
2000-01-01 00:15:00    43
2000-01-01 00:20:00    38
2000-01-01 00:25:00    97
2000-01-01 00:30:00    54
2000-01-01 00:35:00    14
2000-01-01 00:40:00    90
2000-01-01 00:45:00     0
Freq: 5T, dtype: int64

## Group Data By Time Of The Day

In [57]:
# Group the data by the index's hour value, then aggregate by the average
series.groupby(series.index.hour).mean()

0     52.714286
1     46.392857
2     51.107143
3     45.988095
4     45.773810
5     45.428571
6     49.285714
7     54.178571
8     49.285714
9     50.000000
10    46.476190
11    49.202381
12    50.500000
13    45.011905
14    51.452381
15    49.023810
16    49.321429
17    46.273810
18    51.833333
19    55.166667
20    51.452381
21    44.833333
22    49.350000
23    48.930556
dtype: float64