In [26]:
import pandas as pd

In [27]:
df = pd.DataFrame()
df['actual'] = [14,7,16,13,7,2,14,7]
df['predicted'] = [13,3,3,5,6,6,10,6]

In [28]:
df2 = df.groupby(['predicted', 'actual']).count()

In [29]:
df2

Empty DataFrame
Columns: []
Index: [(3, 7), (3, 16), (5, 13), (6, 2), (6, 7), (10, 14), (13, 14)]

In [30]:
df2.reset_index(inplace=True)

In [31]:
df2

   predicted  actual
0          3       7
1          3      16
2          5      13
3          6       2
4          6       7
5         10      14
6         13      14

In [32]:
pd.DataFrame(df.groupby(['predicted', 'actual']).size().rename('counts')).reset_index()

   predicted  actual  counts
0          3       7       1
1          3      16       1
2          5      13       1
3          6       2       1
4          6       7       2
5         10      14       1
6         13      14       1