Title: Concatenating The Values Of Two Columns  
Slug: concatenating_values_of_two_columns  
Summary: Concatenating The Values Of Two Columns Values in SQL.    
Date: 2016-05-01 12:00  
Category: SQL  
Tags: Basics  
Authors: Chris Albon  

Note: This tutorial was written using [Catherine Devlin's SQL in Jupyter Notebooks library](https://github.com/catherinedevlin/ipython-sql). If you have not using a Jupyter Notebook, you can ignore the two lines of code below and any line containing `%%sql`. Furthermore, This tutorial uses SQLite's flavor of SQL, your version might have some differences in syntax.

For more, check out [Learning SQL](http://amzn.to/2jRriHj) by Alan Beaulieu.

In [1]:
# Ignore
%load_ext sql
%sql sqlite://
%config SqlMagic.feedback = False

## Create Data

In [2]:
%%sql

-- Create a table of criminals
CREATE TABLE criminals (pid, first_name, last_name, sex, city, minor);
INSERT INTO criminals VALUES (412, 'James', 'Smith', 'M', 'Santa Rosa', 1);
INSERT INTO criminals VALUES (234, 'Bill', 'James', 'M', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (632, 'Stacy', 'Miller', 'F', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (621, 'Betty', 'Bob', 'F', 'Petaluma', 1);
INSERT INTO criminals VALUES (162, 'Jaden', 'Ado', 'M', NULL, 0);
INSERT INTO criminals VALUES (901, 'Gordon', 'Ado', 'F', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (512, 'Bill', 'Byson', 'M', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (411, 'Bob', 'Iton', 'M', 'San Francisco', 0);

[]

## Concatenate First And Last Names

In [3]:
%%sql

-- Combine first_name, then a space, then last_name in a new column called full_name
SELECT first_name || ' ' || last_name AS 'full_name'

-- From the table 'criminals'
FROM criminals

[('James Smith',),
 ('Bill James',),
 ('Stacy Miller',),
 ('Betty Bob',),
 ('Jaden Ado',),
 ('Gordon Ado',),
 ('Bill Byson',),
 ('Bob Iton',)]